* {
    box-sizing: border-box;   
}

body {
    background-color: #E3FDF0;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

#logo {
    width: 130px;
    height: 40px;
}

#header {
    background-color: #00834C;
    padding: 5px;
}

.top {
    padding-left: 10px;
    padding-top: 5px;
}
#hcontent {
    float: right;
    margin-top: -40px;
    color: white; 
    text-decoration: none;
} 

.one {
    margin-right: 1110px;
    padding-top: 9px;
    
}

.two {
    margin-right: 1020px;
    padding-top: 9px;
}

.three {
    margin-right: 955px;
    padding-top: 9px;
}

.four {
    margin-right: 835px;
    padding-top: 9px;
}

.five {
    margin-right: 10px;
    padding-top: 9px;
}

.topp{
    width: auto;
    height: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #9ddac0;
    justify-content: space-evenly;
}

.searchcontainer{
    position: relative;
    display: flex;
    min-width: 100px; 
    margin-top: 30px;
}

.searchicon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
}

.inputfield {
    border: 1px solid black;
    border-radius: 5px;
    height: 35x;
    padding-left: 30px;
    width: 650px;
    outline: 0;
    background-color: transparent;    
}

.searchbtn{
    margin-left: 5px;
    background-color: #00834C;
    color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    
}

.accountbtn{
    margin-top: 30px;
    /* text-align: center; */
}
.acctbtn{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    font-weight: bolder;
    font-size: large;
}

.persons{
    color: black;
    /* height: 40px;
    width: 10%; */
     font-weight: bolder;
    font-size: large; 
} 

.cart{
    margin-top: 30px;
}

.cart p{
    width: 100px;
    height: 35px;
    font-size: 20px;
    color: white;  
}
.center{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;   
}

.center p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 60px;
    color: #00834C;
    
}
.imagerow{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-right: 30px;
    padding-left: 30px; 
}
.column img{
    width: 70%;
    height: auto;
}
.footer{
    background-color: rgb(56, 56, 56);
    padding-top: 50px;
    padding-bottom: 10px;
}

.footer-links{
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.footer-link-item{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.footer-link-item:hover{
    text-decoration: underline;
}
.copywrite-section{
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
.copywrite-section > p {
    color: white;
    font-size: 14px;
}
.social-links{
    padding-top: 20px;
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.social-links > a > i{
    color:#fff;
}
.footlogo{
     margin-left: auto;
     margin-right: auto;
     padding-left: 70px;
    
}
.footlogo img{
    width: auto;
    height: 40px;
}
