* {
    box-sizing: border-box;
    
}

body {
    background-color: #E3FDF0;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* 
#logo {
    width: 130px;
    height: 40px;
}

#header {
    background-color: #00834C;
    padding: 5px;
} */

.top {
    padding-left: 10px;
    padding-top: 5px;
}
#hcontent {
    float: right;
    margin-top: -40px;
    color: white; 
    text-decoration: none;
} 

.one {
    margin-right: 1110px;
    padding-top: 9px;
    
}

.two {
    margin-right: 1020px;
    padding-top: 9px;
}

.three {
    margin-right: 955px;
    padding-top: 9px;
}

.four {
    margin-right: 835px;
    padding-top: 9px;
}

.five {
    margin-right: 10px;
    padding-top: 9px;
}

.topp{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #9ddac0;
    text-align: center;

}
.topp p{
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #00834C;
    font-weight: bolder;
}

.first-section{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.left{
    width: auto;
    height: auto;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 40px; 
}
.left h4{
    color: #00834C;
}
.left p{
    font-size: 15px;
}
.right{
    width: auto;
    height: auto;
    padding-right: 30px;
    padding-left: 500px;
    margin-top: 40px; 
}
.right h4{
    color: #00834C;
}
.right p{
    font-size: 15px;
}

.footer{
    background-color: rgb(56, 56, 56);
    margin-top: 250px;
    padding-top: 50px;
     padding-bottom: 10px; 
}

.footer-links{
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.footer-link-item{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.footer-link-item:hover{
    text-decoration: underline;
}
.copywrite-section{
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}
.copywrite-section > p {
    color: white;
    font-size: 14px;
}
.social-links{
    padding-top: 20px;
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}
.social-links > a > i{
    color:#fff;
}
.footlogo{
     margin-left: auto;
     margin-right: auto;
     padding-left: 70px;
    
}
.footlogo img{
    width: auto;
    height: 40px;
}

.container-form{
    display: flex;
}

.lets-talk{
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.lets-talk h4{
    color: #00834C;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;
    /* width: 30%;
    height: auto; */

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border:none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #a3dbc3;
    margin-top: 6px;
    margin-bottom: 16px;
    /* resize: vertical; */
}
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.icon-image{
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    
}
.icon-image img{
    margin-top: 70px;
    width: 70%;
    height: auto;
}